
body {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	}
body, div, p, td, th {
	font-size: 10pt;
	}
form {
	margin: 0;
	padding: 0;
	}


.error {
    color : #900;
    font-weight : bold;
    background-color : #EDB9B1;
    padding : 5px;
    border: 1px solid #BB8888;
    margin-top : 10px;
	margin-bottom: 20px;
    padding-left : 28px;
    background-image : url(images/error-16x16.gif);
    background-repeat : no-repeat;
    background-position : 5px 5px;
	-moz-border-radius: 3px;
}

/* --------------------------------------------- */
/*  Header                                       */
/* --------------------------------------------- */

#jive-header {
	width: 100%;
	height: 82px;
	border: 0;
	background: #fff url("images/setup_header_bg.gif") repeat-x;
	min-width: 720px;
	}
#jive-logo {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 50px;
	overflow: hidden;
	}
#jive-header-text {
	display: block;
	position: absolute;
	left: 24px;
	top: 24px;
	color: #fff;
	font-size: 20px;
	}

/* --------------------------------------------- */
/*  Body                                         */
/* --------------------------------------------- */

#jive-body {
	display: block;
	position: absolute;
	padding: 17px 28px 15px 28px;
	}
#jive-body h1 {
	font-size: 13pt;
	margin: 0;
	padding: 0 0 14px 0;
	}
#jive-body h1 span {
	color: #255480;
	}
#jive-body p {
	margin: 0;
	padding: 0 0 14px 0;
	}
#jive-body tt {
	font-size: 8pt;
	font-weight: bold;
	}
.jive-contentBox {
	display: block;
	margin: 5px 0 20px 0;
	padding: 18px 20px 18px 20px;
	border: 1px solid #dcdcdc;
	background: #f5f5f5 url(images/setup_contentbox_bg.gif) repeat-x top;
	-moz-border-radius: 4px;
	}
.jive-contentBox h2 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 11pt;
	color: #09345b;
	}



/* styles specific to the 'stepbar' (seen on the LDAP screens) */
#jive-contentBox_stepbar {
	display: block;
	margin: 5px 0 0 0;
	padding: 3px;
	border: 1px solid #aec2d6;
	background-color: #eaf1f8;
	color: #09345b;
	font-size: 8pt;
	}
#jive-contentBox_stepbar span {
	margin-right: 32px;
	}
#jive-contentBox_stepbar span strong {
	color: #09345b;
	}
#jive-contentBox_stepbar span em {
	color: #666;
	font-style: normal;
	}
/* contentBox style, used with 'stepbar' above (seen on the LDAP screens) */
.jive-contentBox_for-stepbar {
	margin: 0 0 20px 0;
	border-top: 0;
	-moz-border-radius: 0 0 4px 4px;
	}
.jive-contentBox_for-stepbar h2 {
	font-size: 14pt;
	color: #396b9c;
	}
.jive-contentBox_for-stepbar h2 span {
	font-size: 10pt;
	color: #000;
	}

/* blue div container (seen on the LDAP screens) */
.jive-contentBox_bluebox {
	display: block;
	position: relative;
	border: 1px solid #dcdcdc;
	background-color: #eaeff4;
	-moz-border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 12px;
	}
.jive-contentBox_bluebox strong {
	display: block;
	position: relative;
	color: #09345b;
	padding-bottom: 3px;
	}

/* grey div container (seen on the LDAP screens) */
.jive-contentBox_greybox {
	display: block;
	position: relative;
	border: 1px solid #dcdcdc;
	background-color: #ececec;
	-moz-border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 12px;
	}
.jive-contentBox_greybox strong {
	display: block;
	position: relative;
	color: #09345b;
	padding-bottom: 3px;
	}

/* form elements for LDAP */
.jive-contentBox td select {
	z-index: 10;
	float: left;
	}
.jive-contentBox td input {
	float: left;
	}
.jive-contentBox td select#jiveLDAPserverType,
.jive-contentBox td input#jiveLDAPbasedn,
.jive-contentBox td input#jiveLDAPadmindn {
	width: 320px;
	}
.jive-contentBox td input#jiveLDAPhost,
.jive-contentBox td input#jiveLDAPadminpwd,
.jive-contentBox td input#jiveLDAPusername,
.jive-contentBox td input#jiveLDAPgroupname,
.jive-contentBox td input#jiveLDAPgroupmember,
.jive-contentBox td input#jiveLDAPgroupdesc,
.jive-contentBox td input#jiveLDAPgroupsearchfilter{
	width: 160px;
	}
.jive-contentBox td input#jiveLDAPsearchfields,
.jive-contentBox td input#jiveLDAPsearchfilter {
	width: 220px;
	}
.jive-contentBox td label {
	margin-right: 5px;
	}

/* form buttons throughout setup process */
.jive-buttons {
	padding-top: 15px;
	}
.jive-contentBox input#jive-setup-save {
	padding: 2px 5px 2px 5px;
	margin: 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #d6892c url(images/setup_btn_bg-orange.gif) repeat-x;
	}
.jive-contentBox input#jive-setup-skip,
.jive-contentBox input#jive-setup-back {
	padding: 2px 5px 2px 5px;
	margin: 0 10px 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #8c8c8c url(images/setup_btn_bg-grey.gif) repeat-x;
	}
.jive-contentBox input#jive-setup-test {
	padding: 2px 5px 2px 5px;
	margin: 0 0 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #8c8c8c url(images/setup_btn_bg-grey.gif) repeat-x;
	}
.jive-contentBox button#jive-setup-test img {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
	border: 0;
	}
.jive-contentBox a#jive-setup-test2 {
	padding: 3px 5px 3px 5px;
	margin: 0 10px 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	text-decoration: none;
	background: #8c8c8c url(images/setup_btn_bg-grey.gif) repeat-x;
	}
.jive-contentBox a#jive-setup-test2 img {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
	border: 0;
	}
.jive-description {
	display: block;
	clear: both;
	font-size: 11px;
	}
.error {
    color : #900;
    font-weight : bold;
    background-color : #EDB9B1;
    padding : 5px;
    border: 1px solid #BB8888;
    margin-top : 10px;
	margin-bottom: 20px;
    padding-left : 28px;
    background-image : url(images/error-16x16.gif);
    background-repeat : no-repeat;
    background-position : 5px 5px;
	-moz-border-radius: 3px;
}
.jive_setup_launchAdmin a,
.jive_setup_launchAdmin a:visited {
	position: relative;
	padding: 6px 9px 6px 9px;
	margin: 20px 0 0 0;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #0c2d4c;
	background: #255480 url(images/setup_btn_bg-bigblue.gif) repeat-x;
	text-decoration: none;
	-moz-border-radius: 4px;
	}


/* --------------------------------------------- */
/*  Tooltip styles                               */
/* --------------------------------------------- */
.jive-setup-helpicon {
	display: block;
	float: left;
	width: 17px;
	height: 17px;
    margin: 3px 0px 0px 5px;
	background: transparent url(images/setup_helpicon.gif) no-repeat;
    }
div.jiveTooltip {
	position: absolute;
	width: 330px;
	padding: 6px;
	background-color: #f9f5d5;
	border: 1px solid #999;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=92);
	-moz-opacity: .92;
	-khtml-opacity: .92;
	}
div.jiveTooltip .contents {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 0 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	}


/* --------------------------------------------- */
/*  Footer                                       */
/* --------------------------------------------- */

/* not relevant here, so hiding it. */
#jive-footer {
	display: none;
	visibility: hidden;
	}